<div style="text-align: center">
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0" width="640" height="480" id="trollface-launch" align="middle" name="gameObj">
                <param name="allowScriptAccess" value="always" />
                <param name="allowFullScreen" value="false" />
                <param name="movie" value="http://farm.maxgames.com/trollfaceMTE2NA==.swf" />
                <param name="quality" value="autohigh" />
                <param name="wmode" value="direct" />
                <embed src="http://farm.maxgames.com/trollfaceMTE2NA==.swf" quality="autohigh" wmode="direct"  width="640" height="480" name="gameObj" align="middle" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" />
       </object>
</div>