<body>
    <header>
    	<div class="menu-row">
        	<div class="main">
            	<nav class="wrapper">
                    <? menu(); ?>
                </nav>
            </div>
        </div>
    	<div class="row-bot">
            <div class="row-bot-bg">
                <div class="main">
                    <div class="wrapper p6">
                        <h1>FourDeltaOne</h1>
                        <h2>status page</h2>
                    </div>
<? /* ?>
                    <div class="slider-wrapper">
                        <div class="slider">
                            <ul class="items">
                                <li>
                                    <img src="images/slider-img1.jpg" alt="">
                                </li>
                                <li>
                                    <img src="images/slider-img2.jpg" alt="">
                                </li>
                                <li>
                                    <img src="images/slider-img3.jpg" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
<? */ ?>
                    <div class="wrapper">
                    	<figure class="img-indent2"><img src="images/page1-img1.png" alt=""></figure>
                        <div class="extra-wrap">
                        	<strong class="text-1">
                                This is a useless page yet.
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
	<!--==============================aside================================-->
    <aside>
    </aside>
    
    <!--==============================content================================-->
    <section id="content"><div class="ic">More Website Templates @ TemplateMonster.com - January 16, 2012!</div>
        <div class="main">
            <div class="container_12">
                <div class="wrapper">
                    <article class="grid_4">
                    	<h3 class="prev-indent-bot">Shortly About Us</h3>
                        <h6 class="p1">Sed ut perspiciatis unde omnis</h6>
                        <p class="img-indent-bot">PSD source files are available for free for the registered members of TemplatesMonster. The basic package is available for anyone without registration. This website template has several pages: <a class="link" href="index.html">Home Page</a>, <a class="link" href="#">Company</a>, <a class="link" href="services.html">Services</a>, <a class="link" href="#">Clients</a>, <a class="link" href="contacts.html">Contacts</a> (note that contact us form – doesn’t work).</p>
                        <a class="button" href="#"><span>read more</span></a>
                    </article>
                    <article class="grid_4">
                    	<div class="indent-left">
                        	<h3 class="p1">Fresh Articles</h3>
                            <ul class="list-1">
                            	<li><a href="#">Liste natus error sit voluptatem</a></li>
                                <li><a href="#">Accusantium doloremque laudantium</a></li>
                                <li><a href="#">Totam rem aperiam, eaque ipsa quae ab illo</a></li> 
                                <li><a href="#">Inventore veritatis et quasi</a></li>
                                <li><a href="#">Architecto beatae vitae dicta sunt</a></li>
                                <li><a href="#">Nemo enim ipsam voluptatem</a></li>
                                <li><a href="#">Quia voluptas sit aspernatur aut odit aut</a></li>
                                <li><a href="#">Sed quia consequuntur magni dolores</a></li>
                                <li><a href="#">Eos qui ratione voluptatem sequi nesciunt</a></li>
                            </ul>
                        </div>
                    </article>
                    <article class="grid_4">
                    	<div class="indent-left2">
                        	<h3>Our Locations</h3>
                            <figure class="prev-indent-bot"><img src="images/page1-img10.jpg" alt=""></figure>
                            <a class="link-2" href="#">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    
	<!--==============================footer=================================-->
    <footer>
        <div class="main">
        	<div class="aligncenter">
            	<p class="p0">&copy; 2012 Icedream</p>
              Website Template by <a href="http://www.templatemonster.com/" target="_blank" rel="nofollow">www.templatemonster.com</a>
            </div>
        </div>

	<iframe src="http://178.33.27.16/4d1/ircmon.php?referer=<?php echo "http://".$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'] ?>">
    </footer>
</body>
