<head>
<title>FourDeltaOne Status Page</title>

<? include "meta.html"; ?>
<? include "scripts.html"; ?>
<? include "fonts.html"; ?>
<? include "styles.html"; ?>

<!--[if lt IE 8]>
<div style=' clear: both; text-align:center; position: relative; '>
	<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
		<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
	</a>
</div>
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>
