<!--<link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">-->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen">
<link rel="stylesheet" href="css/bootstrap-status.css" type="text/css" media="screen">
<!--<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">-->
<link rel="stylesheet" href="css/tablesorter/style.css" type="text/css" media="screen">
<link rel="shortcut icon" type="image/x-icon" href="http://fourdeltaone.net/favicon.ico">